#main{
  text-align: center;
}

h1{
  font-size: 3em;
}

p{
  font-size: 1em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.languageBtn{
  margin-left: 0.1em;
  margin-right: 0.1em;
  margin-top: 0.1em;
  margin-bottom: 0.7em;
}

.form-select{
  height: 2.4em;
}

.icon{
  margin-left: 0em;
  margin-right: 0em;
  font-size: 2em;
  line-height: 1em;
}